<table border = '1'>
  <tr>
    <th>Name</th>
    <th>Date of birth</th>
    <th>Department</th>
  </tr>
    <% @students.each do |student| %>
      <tr><td><%= student.name %></td>
      <td><%= student.date_of_birth %></td>
    <td><%= student.department_id %></td></tr>
    <% end %>
</table>
